<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IDS.Pinger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <appSettings>
      <add key="Logfile_Success" value="C:\logfiles\IDS.Pinger\Success.log" />
      <add key="Logfile_Error" value="C:\logfiles\IDS.Pinger\Error.log" />
    </appSettings>
    <applicationSettings>
        <IDS.Pinger.Properties.Settings>
            <setting name="HostIP" serializeAs="String">
                <value>192.168.1.1|80.12.224.170|80.122.224.169|62.47.95.239|195.3.96.67|213.22.98.136</value>
            </setting>
            <setting name="Hostname" serializeAs="String">
                <value>LAN|WAN FW|WAN GW|GW|NS1|NS2</value>
            </setting>
        </IDS.Pinger.Properties.Settings>
    </applicationSettings>
</configuration>